<dx-data-grid #productGrid [dataSource]="dataStore" [remoteOperations]="true" height="100%"
    [allowColumnReordering]="true" [rowAlternationEnabled]="true" [hoverStateEnabled]="true" [showBorders]="true"
    [showColumnLines]="true" [showRowLines]="true" [columnAutoWidth]="true" [wordWrapEnabled]="true"
    [allowColumnResizing]="true" [filterSyncEnabled]="true" (onToolbarPreparing)="onToolbarPreparing($event)"
    (onExporting)="onExporting($event,exportName)" (onRowRemoving)="onRowRemoved($event)">
    <dxo-selection mode="single"></dxo-selection>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="false"></dxo-header-filter>
    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
    <dxo-group-panel [visible]="false"></dxo-group-panel>
    <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50]" [showInfo]="true" [visible]="true">
    </dxo-pager>
    <dxo-editing mode="row" [allowAdding]="false" [allowUpdating]="false" [allowDeleting]="true">
    </dxo-editing>
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-state-storing [enabled]="true" type="localStorage" storageKey="Storage_Productist"></dxo-state-storing>

    <dxi-column caption="{{'Inventory::CreationTime'|abpLocalization}}" sortOrder="desc" [visible]="false"
        dataField="creationTime" dataType="date"></dxi-column>
    <dxi-column caption="{{'Inventory::ProductName'|abpLocalization}}" dataField="name" dataType="string"></dxi-column>
    <dxi-column caption="{{'Inventory::ProductType'|abpLocalization}}" dataField="productType" dataType="string">
        <dxo-lookup [dataSource]="productData" valueExpr="id" displayExpr="productTypeName">
        </dxo-lookup>
    </dxi-column>
    <dxi-column caption="{{'Inventory::Category'|abpLocalization}}" dataField="categoryName" dataType="string">
    </dxi-column>
    <dxi-column caption="{{'Inventory::Price'|abpLocalization}}" dataField="price" dataType="number" format="#,##0">
    </dxi-column>
    <dxi-column caption="{{'Inventory::Deleted'|abpLocalization}}" dataField="isDeleted" dataType="boolean"
        [visible]="false" [filterValue]="filterValueIsDeleted">
    </dxi-column>

    <dxi-column type="buttons" [width]="70" [fixed]="true">
        <dxi-button hint="{{'Inventory::Button:Update'|abpLocalization}}" icon="edit" [onClick]="editClick"
            [visible]="isDeleteIconVisible">
        </dxi-button>
        <dxi-button hint="{{'Inventory::Button:View'|abpLocalization}}" icon="search" [onClick]="editClick"
            [visible]="isUndoIconVisible">
        </dxi-button>
        <dxi-button hint="{{'Inventory::Button:Delete'|abpLocalization}}" icon="trash" name="delete"
            [visible]="isDeleteIconVisible">
        </dxi-button>
        <dxi-button hint="{{'Inventory::Button:Undo'|abpLocalization}}" icon="undo" name="Undo"
            [visible]="isUndoIconVisible" [onClick]="undoClick">
        </dxi-button>
    </dxi-column>

    <dxo-export [enabled]="true"></dxo-export>
</dx-data-grid>

<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.01)" [position]="{ of: '#productGrid' }"
    [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true" [shading]="true"
    [closeOnOutsideClick]="false">
</dx-load-panel>