<dx-tree-list #categoryTreeList [dataSource]="categoryDataSource" height="100%" width="500" [rootValue]="null"
    keyExpr="id" parentIdExpr="parentId" [showRowLines]="true" [showBorders]="true" [columnAutoWidth]="true"
    [wordWrapEnabled]="true" (onCellPrepared)="onCellPrepared($event)" (onToolbarPreparing)="onToolbarPreparing($event)"
    (onInitialized)="onInitialized($event)">
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-filter-panel [visible]="false"></dxo-filter-panel>
    <dxo-filter-row [visible]="false"></dxo-filter-row>
    <dxo-header-filter [visible]="false"></dxo-header-filter>
    <dxo-selection mode="single"></dxo-selection>
    <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true">
    </dxo-editing>
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>

    <dxi-column caption="{{'Inventory::Location'|abpLocalization}}" dataField="name" dataType="string"
        [editorOptions]="{ maxLength: 50, showClearButton: true }">
    </dxi-column>

    <dxi-column type="buttons" [width]="100" [fixed]="true">
        <dxi-button name="add" icon="add">
        </dxi-button>
        <dxi-button name="edit" [visible]="isDeleteIconVisible"></dxi-button>
        <dxi-button name="delete" icon="trash" hint="{{'Inventory::Button:Delete'|abpLocalization}}"
            [visible]="isDeleteIconVisible">
        </dxi-button>
        <dxi-button name="Undo" icon="undo" hint="{{'Inventory::Button:Undo'|abpLocalization}}" [onClick]="undoClick"
            [visible]="isUndoIconVisible">
        </dxi-button>
    </dxi-column>
</dx-tree-list>